// Colors
// ------

$gray: #BDBDBD;
$white: #F9F9F9;
$black: #2D2D2D;
$blue: #8B7EEC;
$orange: #FF7F34;
$green: #5AC73A;
$red: #E12626;

// Fonts
// -----

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$verdana: Verdana, Geneva, sans-serif;