.document-upload
  = link_to "Upload a document", "#upload-document", class: "button document-upload-link"
  = form_for document, html: {class: "document-upload-form"} do |f|
    = f.file_field :file, multiple: true