@import "globals/all";

.action-list {
  display: inline-block;
  visibility: hidden;
  vertical-align: baseline;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.action-list > li {
  display: inline-block;
  color: $gray;
}

.action-list > li:hover {
  color: $black;
}

.action-list a {
  color: inherit;
}

.is-action-list-active {
  visibility: visible;
}