@import "globals/all";

.document-search-form > input[type=text] {
  display: inline-block;
  width: 40em;
  margin: 0;
}

.document-search-form > input[type=submit] {
  margin: 0;
  float: none;
}

.document-search-form > .button {
  border: 1px solid $blue;
}