@import "globals/all";

.document-list > h3 {
  margin-bottom: 0;
  font-size: 1.4em;
}

.document-list > h4 {
  margin-top: 0;
  color: lighten($black, 30%);
  font-weight: normal;
  // font-style: italic;
}

.document-list > ul {
  margin: 0;
  padding: 0;
}

.document-list-entry {
  padding: 0.4em 0;
  border-bottom: 1px solid $gray;
}
