@import "globals/all";

body {
  color: $black;
  background-color: $white;
  font-family: $helvetica;
}

div {
  overflow: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: darken($black, 50%);
  text-decoration: none;
}
