@import "bourbon";
@import "grid-settings";
@import "neat";

#header {
  @include outer-container;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid gray;
}

#header > #logo {
  @include span-columns(2);
}

#header > #user {
  @include span-columns(2);
}

#header > #search-form {
  @include span-columns(8);
}

#content-wrapper {
  @include outer-container;
}

#content-wrapper > #content-nav {
  @include span-columns(2);
  border-right: 1px solid gray;
}

#content-wrapper > #content-main {
  @include span-columns(10);
}